<!DOCTYPE html>
<html>
<head>
  <title>Aa6my</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="col-md-12">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">DRY</a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">All Torrents</a></li>
		            <li><a href="#">Movie Torrents</a></li>
		            <li><a href="#">TV-Show Torrents</a></li>
		            <li><a href="#">Music Torrents</a></li>
		          </ul>
		        </li>
		       	<li><a href="#">Subtitles</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Upload Torrents</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Movie</a></li>
		            <li><a href="#">TV-Show</a></li>
		            <li><a href="#">Person</a></li>
		            <li><a href="#">Music</a></li>
		          </ul>
		        </li>
		        <li><a href="#">Froums</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	<li><a href="#"><i class="fa fa-fw fa-envelope-o"></i> Message</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">aa6my <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">My Profile</a></li>
		            <li><a href="#">My Account</a></li>
		            <li class="divider"></li>
		            <li><a href="#">My Uploads</a></li>
		            <li><a href="#">My Drafts</a></li>
		            <li><a href="#">Active Torrents</a></li>
		            <li><a href="#">Torrent History</a></li>
		            <li><a href="#">Bonus Points</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Logout</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>

	<div class="col-md-12">
		<ul class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		  <li class="active">Data</li>
		</ul>

		<%= yield %>
	</div>


</div>





</body>
</html>
