<!DOCTYPE html>
<html>
<head>
  <title>aa6my</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="col-md-12">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">aa6my</a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">All Torrents</a></li>
		            <li><a href="#">Movie Torrents</a></li>
		            <li><a href="#">TV-Show Torrents</a></li>
		            <li><a href="#">Music Torrents</a></li>
		          </ul>
		        </li>
		       	<li><a href="#">Subtitles</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Upload Torrents</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Movie</a></li>
		            <li><a href="#">TV-Show</a></li>
		            <li><a href="#">Person</a></li>
		            <li><a href="#">Music</a></li>
		          </ul>
		        </li>
		        <li><a href="#">Forums</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	<li><a href="#"><i class="fa fa-fw fa-envelope-o"></i> Message</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">aa6my <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">My Profile</a></li>
		            <li><a href="#">My Account</a></li>
		            <li class="divider"></li>
		            <li><a href="#">My Uploads</a></li>
		            <li><a href="#">My Drafts</a></li>
		            <li><a href="#">Active Torrents</a></li>
		            <li><a href="#">Torrent History</a></li>
		            <li><a href="#">Bonus Points</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Logout</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>

	<div class="col-md-12">
		<ul class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		  <li class="active">Data</li>
		</ul>
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<div class="col-md-9">
		  		<%= yield %>
		  	</div>
		  	<div class="col-md-3">
				<div class="panel panel-default">
				  <div class="panel-heading">Site Stats</div>
				  <div class="panel-body">
					<table class="table table-striped table-hover ">
					  <tbody>
					    <tr>
					      <td>Users</td>
					      <td>98,599</td>
					    </tr>
					    <tr>
					      <td>Torrents</td>
					      <td>29,391</td>
					    </tr>
					    <tr>
					      <td>Movies</td>
					      <td>9,174</td>
					    </tr>
					    <tr>
					      <td>TV-Shows</td>
					      <td>2,753</td>
					    </tr>
					    <tr>
					      <td>Music</td>
					      <td>441</td>
					    </tr>
					    <tr>
					      <td>Seeds</td>
					      <td>223,417</td>
					    </tr>
					    <tr>
					      <td>Leeches</td>
					      <td>10,276</td>
					    </tr>
					    <tr>
					      <td>Peers</td>
					      <td>233,693</td>
					    </tr>
					    <tr>
					      <td>Current Download</td>
					      <td>82.40 TB</td>
					    </tr>
					    <tr>
					      <td>Current Upload</td>
					      <td>392.71 TB</td>
					    </tr>
					    <tr>
					      <td>Total Download</td>
					      <td>5.71 PB</td>
					    </tr>
					    <tr>
					      <td>Total Upload</td>
					      <td>101.97 PB</td>
					    </tr>
					  </tbody>
					</table> 
				  </div>
				</div>
		  	</div>
		  </div>
		  <div class="panel-footer">
		  	Panel footer
		  </div>
		</div>
		
	</div>


</div>





</body>
</html>
